/* Navigation and header styles extracted from globals.css */

.header {
  padding: 0.5rem 2.5rem;
  height: 5rem;
  z-index: 200;
}

#nav__logo {
  font-weight: 600;
  font-size: 1.25rem;
  font-family: "EB Garamond", serif;
  text-transform: uppercase;
  color: var(--text);
  z-index: 300 !important;
}

.nav__menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100vh;
  flex-direction: column;
  background-color: yellowgreen;
  justify-content: center;
  align-items: center;
  z-index: 0 !important;
  display: none;
}

.nav__menu.show-menu {
  display: flex;
  animation: fadeIn 1s ease-in-out;
}

.nav__menu.hiddenNav {
  animation: fadeOut 1.5s ease-in-out;
}

.nav__list {
  /* display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2rem; */
}

.nav__list > li > a.fadeOutListItem {
  animation: contentSlideOut 1s ease-in-out !important;
}

.nav__buttons {
  border-radius: 3rem;
  z-index: 300;
}

.nav__toggle {
  align-items: center;
  cursor: pointer;
}

.nav__close {
  cursor: pointer;
}

.nav__close-show {
  position: absolute;
  z-index: 200;
  top: 0.75rem;
  right: 0.75rem;
}

.nav__list {
  /* display: flex;
  column-gap: 3rem; */
}

.nav__item {
  position: relative;
  /* opacity: 0 !important; */
  /* visibility: hidden !important; */
  transition: all 1.5s ease-out;
  color: red;
}

.nav__item.showNavItem {
  opacity: 1 !important;
  visibility: visible !important;
}

.nav__link {
  transition: all 0.35s ease-in-out;
  color: var(--body-bg);
  font-size: 0.95rem;
}

.nav__link.active-link {
  font-weight: normal;
  text-decoration: underline;
}

.active-link {
  text-decoration: underline;
}

.nav__buttons {
  display: flex;
  column-gap: 1.5rem;
  justify-content: center;
  align-items: center;
  color: var(--text);
}

.change-theme {
  cursor: pointer;
}

.menu-toggle > i {
  cursor: pointer;
}

.nav__toggle.nav_dark-text > i {
  color: var(--card-text);
}

.nav__toggle.nav_light-text > i {
  color: var(--text);
}

/* Animations */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
