@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600;700&family=Poppins:wght@300;400;500;600&display=swap");

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #3a5a40;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    margin: 0 auto;
    padding: 0 3rem;
    background-color: #dad7cd;
    word-spacing: 1rem;
}

section {
    margin: 2rem 0;
    padding-top: 2rem;
    padding-bottom: 3rem;
    border-bottom: 1px solid #344e41;
    min-height: 100vh;
}

.section__title {
    text-align: center;
    text-transform: uppercase;
    font-size: 4rem;
    /* font-family: "EB Garamond", serif; */
    color: transparent;
    font-weight: 600;
    -webkit-text-stroke: 1.5px #344e41;
}

.section__subtitle {
    text-align: center;
    color: #7e956e;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 2rem;
    font-family: "EB Garamond", serif;
}

.btn {
    background: #344e41;
    color: #dad7cd;
    padding: 1rem 1.5rem;
    cursor: pointer;
    font-weight: 600;
    font-size: 1rem;
    border-radius: 2rem;
    transition: all 0.2s ease-in;
}

.btn:hover {
    background: transparent;
    border: 1.5px solid #344e41;
    color: #344e41;
}

.btn-primary {
    background: transparent;
    border: 1.5px solid #344e41;
    color: #344e41;
}

.btn-primary:hover {
    background: #344e41;
    color: #dad7cd;
}

/* HEADER */

.header {
    padding: 1rem 0;
}

.nav {
    display: flex;
    height: 4rem;
    align-items: center;
    justify-content: space-between;
}

.nav__logo {
    font-weight: 600;
    font-size: 1.5rem;
    font-family: "EB Garamond", serif;
    text-transform: uppercase;
}

.nav__menu {
    transition: all 0.5s ease-in-out;
}

.nav__list {
    display: flex;
    column-gap: 3rem;
}

.nav__item {
    position: relative;
}

.nav__link {
    transition: all 0.35s ease-in-out;
}

.nav__link:hover::after {
    content: "";
    width: 100%;
    height: 0.12rem;
    background-color: #344e41;
    position: absolute;
    top: 110%;
    left: 0;
}

.nav__link.active-link:hover::after {
    content: "";
    width: 0;
    height: 0;
}

.active-link {
    font-weight: 600;
    color: #dad7cd;
    background-color: #344e41;
    padding: 0.5rem;
    border-radius: 2rem;
}

.nav__buttons {
    display: flex;
    column-gap: 1.5rem;
    justify-content: center;
    align-items: center;
}

.change-theme {
    cursor: pointer;
}

.nav__toggle {
    display: none;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #344e41;
    opacity: 0.5;
    z-index: 90;
    transition: all 1s ease-in-out;
}

.nav__close {
    position: fixed;
    top: 300vh;
    right: calc(50% - 38vw);
    z-index: 100;
    font-size: 2rem;
    color: #dad7cd;
}

/* HOME */

.home__container {
    display: flex;
    column-gap: 7rem;
}

.home__content {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    flex: 1;
}

.home__content-title {
    color: #344e41;
    opacity: 0.9;
    letter-spacing: 1px;
    font-size: 0.9rem;
    border-bottom: 1px solid #344e41;
    padding-bottom: 0.1rem;
    width: max-content;
}

.home__content-name {
    font-size: 3rem;
    text-transform: uppercase;
    color: #3a5a40;
    font-family: "EB Garamond", serif;
}

.home__content-description {
    color: #344e41;
    opacity: 0.9;
    font-size: 0.9rem;
    line-height: 2rem;
}

.home__socials {
    display: flex;
    color: #344e41;
    align-items: center;
    column-gap: 3rem;
}

.home__socials-icon {
    border-radius: 100%;
    width: 2rem;
    height: 2rem;
    border: 1.5px solid #344e41;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.5s ease;
}

.home__socials-icon:hover {
    background-color: #344e41;
}

.home__socials-icon i {
    font-size: 1rem;
    color: #344e41;
    transition: all 0.5s ease;
}

.home__socials-icon:hover i {
    color: #dad7cd;
}

.home__img {
    flex: 0 0 28rem;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}

.home__img img {
    width: 100%;
    height: auto;
    border-radius: 76% 50% 53% 24% / 88% 85% 40% 33%;
    background-image: linear-gradient(
        to left bottom,
        #588157,
        #7e956e,
        #a1aa8a,
        #c0bfaa,
        #dad7cd
    );
}

/* ABOUT */
.about__container {
    display: flex;
}

.about__container > div {
    flex: 1;
}

@media screen and (max-width: 800px) {
    body {
        max-width: 100vw;
        overflow-x: hidden;
    }

    .nav__menu {
        position: fixed;
        top: 100rem;
        right: 50%;
        transform: translate(50%, -50%);
        margin: auto 0;
        display: flex;
        flex-direction: column;
        background-color: #344e41;
        height: 20rem;
        width: 80vw;
        justify-content: center;
        align-items: center;
        z-index: 100;
        border-radius: 2rem;
    }

    .nav__menu-show {
        top: 50%;
        right: 50%;
    }

    .nav__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 1.5rem;
    }

    .nav__link {
        color: #dad7cd;
    }

    .nav__link.active-link {
        font-weight: normal;
        text-decoration: underline;
    }

    .nav__toggle {
        display: flex;
        align-items: center;
    }

    .nav__buttons {
        background-color: #dad7cd;
        border-radius: 3rem;
    }

    .nav__close-show {
        position: fixed;
        top: calc(50% - 9.5rem);
        right: calc(50% - 38vw);
        transition: all 0.6s ease-in-out;
    }

    .home {
        margin-top: 0;
        padding-top: 0;
    }

    .home__container {
        flex-direction: column-reverse;
        align-items: center;
        row-gap: 2rem;
        text-align: center;
    }

    .home__content {
        flex: 1;
        flex-grow: initial;
        width: 100%;
    }

    .home__content-title {
        width: 100%;
    }

    .home__socials {
        justify-content: center;
    }

    .home_buttons {
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
    }

    .home__img {
        flex: 1;
    }

    .home__img img {
        width: 100%;
    }
}

@media screen and (max-width: 900px) {
}

@media screen and (max-width: 400px) {
    body {
        padding: 0 1.5rem;
    }

    .nav__buttons {
        right: 0rem;
    }
}
